body {
    font-family: "Open Sans", sans-serif;
    background: #f6f9ff;
    color: #444444;
}

#h-header{
    width: 100%;
    margin: auto;
    display: flex;
    /* background-color: darksalmon; */
}

.form {
    float: right;
    margin-left: 13px;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: none;
    color: #8a7c7c;
    border: 1px solid rgb(234, 20, 241);
    border-radius: 10px;
}

.form:hover {
    cursor: pointer;
    background-color: rgb(105, 105, 218);
    color: white;
    transition: 0.7s;
}


.header-content{
    padding: 10px 0px;
    background-color: transparent;
    font-size: 120%;
}

#h-id{
    float: left;
    width: 10%;
    padding-left: 20px;
}

#h-time{
    float: left;
    width: 20%;
}

#h-Heart ,#h-Spo2 , #h-BodyTemp, #h-Eco2{
    float: left;
    width: 17.5%;
}

/* --------table body------- */
#id-content{
    float: left;
    width:10%;
}

#time-content{
    width:20%;
    float: left;
}

#Heart-content, #Spo2-content, #BodyTemp-content , #Eco2-content{
    width: 17.5%;
    float: left;
}
/* -------------------------- */

.h-para{
    padding: 10px 20px;
    border-bottom: 1px solid rgb(177, 140, 73);
}